<div
 class="user-status-message"
 aria-describedby="tooltip"
 {{on "mouseenter" this.showTooltip}}
 {{on "mouseleave" this.hideTooltip}}>
  {{emoji @status.emoji}}
</div>
<DTooltip>
  {{emoji @status.emoji}}
  {{@status.description}}
  {{#if this.until}}
    <span class="status-until">{{this.until}}</span>
  {{/if}}
</DTooltip>
